<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link">
        <img src="images/zely.jpg" alt="Tienda Zely" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Tienda Zely</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="images/usuario.jpg" class="img-circle elevation-2" alt="User Image" id="imagenUsuario">
            </div>
            <div class="info">
                <h5 id="nombreApellido" class="d-block" style="color:#ffffff">Usuario General</h5>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" data-menu-section="dashboard">
                    <a href="dashboard.html" class="nav-link" data-menu-link="dashboard">
                        <i class="nav-icon fa-solid fa-gauge-high"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item" data-menu-section="productos">
                    <a href="#" class="nav-link" data-menu-toggle="productos">
                        <i class="nav-icon fa-solid fa-cookie-bite"></i>
                        <p>Productos <i class="fa-solid fa-angle-down right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="productos.html" class="nav-link" data-menu-link="productos">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ver Productos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-menu-section="clientes">
                    <a href="#" class="nav-link" data-menu-toggle="clientes">
                        <i class="nav-icon fa-solid fa-person"></i>
                        <p>Clientes <i class="fa-solid fa-angle-down right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="clientes.html" class="nav-link" data-menu-link="clientes">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ver Clientes</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-menu-section="ventas">
                    <a href="#" class="nav-link" data-menu-toggle="ventas">
                        <i class="nav-icon fa-solid fa-piggy-bank"></i>
                        <p>Ventas <i class="fa-solid fa-angle-down right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="reg_ventas.html" class="nav-link" data-menu-link="reg_ventas">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Registrar Ventas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="ventas.html" class="nav-link" data-menu-link="ventas">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ver Ventas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="cuenta_cliente.html" class="nav-link" data-menu-link="cuenta_cliente">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ver Cuenta De Cliente</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-menu-section="numero_serie">
                    <a href="numero_serie.html" class="nav-link" data-menu-link="numero_serie">
                        <i class="nav-icon fa-solid fa-barcode"></i>
                        <p>Numero de Serie</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
